/* assets/scss/_paleta.scss */

// --- Cores Oficiais do Manual (Puras) ---
$if-red-official:   #cd191e;
$if-green-official: #2f9e41;
$if-black-official: #000000;

// --- Sua Paleta "Academic Tech" (Moderna) ---
// Verdes
$tech-green-dark:   #047857; // Esmeralda (Para links no claro)
$tech-green-light:  #34D399; // Menta (Para links no escuro)

// Vermelhos/Rosas
$tech-red-dark:     #BE123C; // Framboesa
$tech-red-light:    #F43F5E; // Coral

// Fundos
$tech-bg-light:     #F3F4F6;
$tech-bg-dark:      #111827;